   .app {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .video_Cam{
      margin-top: 50px;
   

   }
   /* .app__videoFeed{
      margin-top: 300px;
      margin-left: 20px;     
   
   } */
   .button{
      width: 220px;
   }
   .videoheader{
      width: 230px;
      height: 180px;
      position: relative;
      top: 185px;
      left: -300px;
   }
   .img{
      text-align: center;
      margin-top: 50px;
   }
   .img img{
      width:350px;
   }
  .VideoLoop{
   margin-top: 0;
   margin-left: 80px;
  }
  .VideoLoop video{
   margin: 10px;
  }
.heading{
   text-align: center;
}
 